## 날짜 계산과 요일 확인

### `datetime.date`

- 예제) 

2019년 12월 14일부터 만나기 시작했다면 2021년 6월 5일은 사귄지 며칠쨰 되는 날일까? 아울러 사귀기 시작한 2109년 12월 14일은 무슨 요일이였을까?

In [1]:
import datetime

In [2]:
day1 = datetime.date(2019, 12, 14)
day1

datetime.date(2019, 12, 14)

In [3]:
day2 = datetime.date(2021, 6, 5)
day2

datetime.date(2021, 6, 5)

In [4]:
diff = day2 - day1
diff

datetime.timedelta(days=539)

- datetime.datetime 객체
    - datetime.date는 년,월,일로만 구분 
    - datetime.datetime 은 년,월,일,시,분,초까지 구분

In [5]:
day3 = datetime.datetime(2020, 12, 14, 14, 10, 50)

In [6]:
day3.hour

14

In [7]:
day3.minute

10

In [8]:
day3.second

50

- combine()함수로 합칠수 있다

In [9]:
day = datetime.date(2019, 12, 14)
time = datetime.time(10, 14, 50)
dt = datetime.datetime.combine(day, time)
dt

datetime.datetime(2019, 12, 14, 10, 14, 50)

### `weekday()`

- 요일 알아내기
- 0은 월요일, 1은 화요일 ... 6은 일요일
- 월요일은 1, 화요일은 2 ... 일요일은 7 이렇게 반환하고 싶으면 `isoweekday()`함수 사용

In [10]:
day = datetime.date(2019, 12, 14)
day.weekday()

5

In [11]:
day.isoweekday()

6

## 두 날짜의 차이

### `datetime.timedelta`

- 예제)
오늘부터 사귀기 시작한 커플이 벌써 100일 기념일을 챙기려 한다. 이 커플의 100일 기념일은 언제인가?

In [12]:
today = datetime.date.today()
today

datetime.date(2023, 7, 28)

In [13]:
diff_days = datetime.timedelta(days=100)
diff_days                   ## 100일 뒤를 계산하는 식(days외에 seconds, microseconds, minutes, weeks등 사용가능)

datetime.timedelta(days=100)

In [14]:
today + diff_days

datetime.date(2023, 11, 5)

## 윤년 계산

### `calender.isleap`

- 예제)
다음 년도가 윤년인지 확인
    - 0년
    - 1년
    - 4년
    - 1200년
    - 700년
    - 2020년<br>
<br>
- 윤년의 규칙
    - 서력 기원 연수가 4로 나누어 떨어지는 해
    - 그 중에서 100으로 나누어 떨어지는 해는 제외
    - 400으로 나누어 떨어지는 해는 다시 윤년으로 지정

In [24]:
def is_leap_year(year):
    if year % 400 == 0:
        return True
    if year % 100 == 0:
        return False
    if year % 4 == 0:
        return True
    return False

In [25]:
import calendar
calendar.isleap(0)

True

In [26]:
calendar.isleap(1)

False

In [27]:
calendar.isleap(4)

True

In [28]:
calendar.isleap(1200)

True

In [29]:
calendar.isleap(700)

False

In [30]:
calendar.isleap(2020)

True

## 앞뒤에 자료 넣고 빼기

### `collection.deque`

- 예제)
 a = [1,2,3,4,5] 에서 [4,5,1,2,3] 으로 바꾸려면 어떻게 해야할까?

In [35]:
from collections import deque
a = [1, 2, 3, 4, 5]
q = deque(a)
q.rotate(2)         ## 시계 방향으로 회전은 양수, 반대는 음수
result = list(q)
result

[4, 5, 1, 2, 3]

- `deque` 사용법

In [36]:
d = deque([1, 2, 3, 4, 5])
d.append(6)
d

deque([1, 2, 3, 4, 5, 6])

In [37]:
d.appendleft(0)
d

deque([0, 1, 2, 3, 4, 5, 6])

In [38]:
d.pop()

6

In [40]:
d.popleft()

0

In [41]:
d

deque([1, 2, 3, 4, 5])

## 자료에 이름 붙이기

### `collections.namedtuple`

- 예제)
직원 주소록에 이름, 나이, 전화번호로 구성된 데이터를 만드는데 데이터를 컬럼 이름으로 찾을 수 있게 만들기

In [42]:
data = [
    ('홍길동', 23, '01099990001'),
    ('김철수', 31, '01099991002'),
    ('이영희', 29, '01099992003')
]

In [ ]:
emp = data[0]       ## 첫 번째 직원 출력
print(emp.name)     ## 직원 이름 '홍길동' 출력
print(emp.age)      ## 직원 나이 '23' 출력
print(emp.cellphone)## 전화번호 '01099990001' 출력

In [44]:
from collections import namedtuple

In [49]:
data = [
    ('홍길동', 23, '01099990001'),
    ('김철수', 31, '01099991002'),
    ('이영희', 29, '01099992003')
]

In [46]:
Employee = namedtuple('Employee', 'name, age, cellphone')

In [47]:
data = [Employee(emp[0], emp[1], emp[2]) for emp in data]

In [48]:
data

[Employee(name='홍길동', age=23, cellphone='01099990001'),
 Employee(name='김철수', age=31, cellphone='01099991002'),
 Employee(name='이영희', age=29, cellphone='01099992003')]

In [50]:
data = [Employee._make(emp) for emp in data]        ## _make를 사용해 간략화 가능

In [53]:
emp = data[0]
emp

Employee(name='홍길동', age=23, cellphone='01099990001')

In [56]:
emp._asdict()           ##_asdict 사용으로 딕셔너리로 변환

{'name': '홍길동', 'age': 23, 'cellphone': '01099990001'}

In [57]:
emp[0]

'홍길동'

In [58]:
new_emp = emp._replace(name='박길동')           # 내용 교체에는 _replace()를 사용해야한다

In [60]:
new_emp

Employee(name='박길동', age=23, cellphone='01099990001')

## 사용한 단어 개수 구하기

### `collections.Counter`

- 예제) 
김소월의 시 '산유화'에서 가장 많이 사용한 단어 찾기

In [62]:
from collections import Counter
import re

In [64]:
data = """
산에는 꽃 피네
꽃이 피네
갈 봄 여름 없이
꽃이 피네

산에
산에
피는 꽃은
저만치 혼자서 피어 있네

산에서 우는 작은 새여
꽃이 좋아
산에서
사노라네

산에는 꽃 지네
꽃이 지네
갈 봄 여름 없이
꽃이 지네
"""

words = re.findall(r'\w+', data)            ## 문장을 단어별로 나누기 (r은 정규표현식이 원시 문자열(raw string)임을 알려주는 문자)
counter = Counter(words)
print(counter.most_common(1))

[('꽃이', 5)]

In [68]:
print(counter)

Counter({'꽃이': 5, '피네': 3, '지네': 3, '산에는': 2, '꽃': 2, '갈': 2, '봄': 2, '여름': 2, '없이': 2, '산에': 2, '산에서': 2, '피는': 1, '꽃은': 1, '저만치': 1, '혼자서': 1, '피어': 1, '있네': 1, '우는': 1, '작은': 1, '새여': 1, '좋아': 1, '사노라네': 1})

In [69]:
print(counter.most_common(1))

[('꽃이', 5)]

In [70]:
print(counter.most_common(2))

[('꽃이', 5), ('피네', 3)]

## 딕셔너리 한번에 초기화

### `collections.defaultdict`

- 예제)
Life is too short, You need Python.<br>
이 문자열을 이용하여 사용한 문자(key), 해당 문자의 사용 횟수(value)를 딕셔너리로 만드려면?

In [71]:
text = 'Life is too short, You need Python.'

d = dict()
for key in text:
    if key not in d:                ## 딕셔너리 d의 키에 해당 문자가 없으면 키로 등록후 값은 0으로 초기화 (없으면 에러남!!!!)
        d[key] = 0
    d[key] += 1
    
print(d)

{'L': 1, 'i': 2, 'f': 1, 'e': 3, ' ': 6, 's': 2, 't': 3, 'o': 5, 'h': 2, 'r': 1, ',': 1, 'Y': 1, 'u': 1, 'n': 2, 'd': 1, 'P': 1, 'y': 1, '.': 1}

In [72]:
from collections import defaultdict

In [73]:
d = defaultdict(int)        ## defaultdict()의 인수로 int를 전달해 d를 생성 d의값은 항상 0으로 자동 초기화됨
for key in text:
    d[key] += 1
    
print(dict(d))

{'L': 1, 'i': 2, 'f': 1, 'e': 3, ' ': 6, 's': 2, 't': 3, 'o': 5, 'h': 2, 'r': 1, ',': 1, 'Y': 1, 'u': 1, 'n': 2, 'd': 1, 'P': 1, 'y': 1, '.': 1}

## 수상자 3명 선정

### `heapq`

- 예제)
100m 달리기 기록에서 3명에게 금 은 동을 주는 프로그램 제작

In [74]:
import heapq

In [77]:
data = [                        ## 힙을 사용할땐 기록을 앞에 두어야 한다!!
    (12.23, "강보람"),
    (12.31, '김지원'),
    (11.98, '박시우'),
    (11.99, '장준혁'),
    (11.67, '차정웅'),
    (12.02, '박종수'),
    (11.57, '차동현'),
    (12.04, '고미숙'),
    (11.92, '한시우'),
    (12.22, '이민석'),
]

h = []                          ## 힙 생성
for score in data:
    heapq.heappush(h, score)    ## 힙에 데이터 저장
    
for i in range(3):
    print(heapq.heappop(h))     ## 최솟값부터 힙 반환

(11.57, '차동현')
(11.67, '차정웅')
(11.92, '한시우')

In [78]:
heapq.heapify(data)             ## data를 힙 구조에 맞게 변경

for i in range(3):
    print(heapq.heappop(data))

(11.57, '차동현')
(11.67, '차정웅')
(11.92, '한시우')

In [79]:
print(heapq.nsmallest(3, data))

[(11.98, '박시우'), (11.99, '장준혁'), (12.02, '박종수')]

In [80]:
print(heapq.nlargest(3, data))

[(12.31, '김지원'), (12.23, '강보람'), (12.22, '이민석')]

## 데이터를 보기 좋게 출력하기

### `pprint`

In [83]:
import pprint

In [85]:
result = {'userId': 1, 'id' : 1, 'title' : 'sunt aut facere repellat provident occaecati excepturi optio reprehenderit', 'body' : 'quia et suscipit\nsuscipit recusandae consequuntur expedita et cum\nreprehenderit molestiae ut ut quas totam\nnostrum rerum est autem sunt rem evenuet architecto'}
pprint.pprint(result)

{'body': 'quia et suscipit\n'
         'suscipit recusandae consequuntur expedita et cum\n'
         'reprehenderit molestiae ut ut quas totam\n'
         'nostrum rerum est autem sunt rem evenuet architecto',
 'id': 1,
 'title': 'sunt aut facere repellat provident occaecati excepturi optio '
          'reprehenderit',
 'userId': 1}

## 점수에 따른 학점 구하기

### `bisect`

- 예제)
학점을 순서대로 구하기

In [86]:
import bisect

In [87]:
result = []

for score in [33, 99, 77, 70, 89, 90, 100]:
    pos = bisect.bisect([60, 70, 80, 90], score)
    grade = 'FDCBA'[pos]
    result.append(grade)
    
print(result)

['F', 'A', 'C', 'C', 'B', 'A', 'A']

- 점수를 이상이 아니라 초과로 설정하려면

In [88]:
result = []

for score in [33, 99, 77, 70, 89, 90, 100]:
    pos = bisect.bisect_left([60, 70, 80, 90], score)
    grade = 'FDCBA'[pos]
    result.append(grade)
    
print(result)

['F', 'A', 'C', 'D', 'B', 'B', 'A']

- `bisect.insort()`
    - 정렬할 수 있는 위치에 해당 항목 삽입

In [89]:
a = [60, 70, 80, 90]
bisect.insort(a, 85)
a

[60, 70, 80, 85, 90]

## 숫자에 이름을 붙여 사용

### `enum`